<!-- BANNER -->
<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li>
          <%= image_tag("home/banner-slider/slider-bg.jpg", alt: "slidebg1", data: { bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat" }) %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'potepan/sample/featured_collection' %>
    <%= render 'potepan/sample/featured_products' %>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render 'potepan/categories/light_section' %>

<!-- LOGIN MODAL -->
<%= render 'potepan/sample/login_modal' %>

<!-- SIGN UP MODAL -->
<%= render 'potepan/sample/sign_up_modal' %>

<!-- PORDUCT QUICK VIEW MODAL -->
<%= render 'potepan/sample/product_view_modal' %>